<div class="block block-themed">
    <div class="block-header">
        <h3 class="block-title">创建机器</h3>
    </div>
    <div class="block-content pr-0 overflow-hidden">
        <form action="{{urlfor "Disguise.Edit" ":id" $.info.Id}}" class="ajax_from" method="post">
            <div class="form-group row font-size-sm mb-2">
                <label class="col-form-label font-weight-normal pr-0 pl-2" for="name">机器名称</label>
                <div class="col-sm-4 mr-5">
                    <input class="form-control form-control-alt font-size-sm" id="name" value="{{$.info.Name}}" type="text" name="name" placeholder="机器名称"/>
                    <div class="help-block pt-1 pb-1 font-size-minimum">用于机器搜索,中英文；<code>必填；</code></div>
                </div>
                <label class="col-form-label font-weight-normal" for="keyword">词语自然</label>
                <div class="col-sm-4">
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="keyword_0" name="keyword" value="0" {{if eq 0 $.info.Keyword}} checked {{end}}>
                        <label class="custom-control-label" for="keyword_0">禁用</label>
                    </div>
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="keyword_1" name="keyword" value="1" {{if eq 1 $.info.Keyword}} checked {{end}}>
                        <label class="custom-control-label" for="keyword_1">启用</label>
                    </div>
                    <div class="help-block pt-1 pb-1 font-size-minimum">开启文本自然语言处理；</div>
                </div>
            </div>
            <div class="form-group row font-size-sm mb-2">
                <label class="col-form-label font-weight-normal pr-0 pl-2" for="description">描述自然</label>
                <div class="col-sm-4 mr-5">
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="description_0" name="description" value="0" {{if eq 0 $.info.Description}} checked {{end}}>
                        <label class="custom-control-label" for="description_0">禁用</label>
                    </div>
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="description_1" name="description" value="1" {{if eq 1 $.info.Description}} checked {{end}}>
                        <label class="custom-control-label" for="description_1">启用</label>
                    </div>
                    <div class="help-block pt-1 pb-1 font-size-minimum">开启文本自然语言处理；</div>
                </div>
                <label class="col-form-label font-weight-normal" for="context">内容自然</label>
                <div class="col-sm-4">
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="context_0" name="context" value="0" {{if eq 0 $.info.Context}} checked {{end}}>
                        <label class="custom-control-label" for="context_0">禁用</label>
                    </div>
                    <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                        <input type="radio" class="custom-control-input" id="context_1" name="context" value="1" {{if eq 1 $.info.Context}} checked {{end}}>
                        <label class="custom-control-label" for="context_1">启用</label>
                    </div>
                    <div class="help-block pt-1 pb-1 font-size-minimum">开启文本自然语言处理；</div>
                </div>
            </div>
            <div class="form-group row font-size-sm mb-2">
                <label class="col-form-label font-weight-normal" for="api_key">机器KEY</label>
                <div class="col-sm-10">
                    <input class="form-control font-size-sm" id="api_key" type="text" value="{{$.info.ApiKey}}" name="api_key" placeholder="机器KEY"/>
                    <div class="help-block pt-1 pb-1 font-size-minimum">请正确填写KEY；<code>不正确的KEY将无法处理；</code></div>
                </div>
            </div>
            <div class="form-group row font-size-sm ">
                <label class="col-form-label font-weight-normal" for="api_secret">机器密钥</label>
                <div class="col-sm-10">
                    <input class="form-control font-size-sm" id="api_secret" type="text" value="{{$.info.ApiSecret}}"  name="api_secret" placeholder="机器SECRET"/>
                    <div class="help-block pt-1 pb-1 font-size-minimum">请正确填写机器密钥；<code>不正确的机器密钥将无法处理；</code></div>
                </div>
            </div>
            <div class="form-group text-center fixed-bottom badge-light mb-0 p-3">
                <button type="submit" class="btn btn-sm btn-primary">提交保存</button>
            </div>
        </form>
    </div>
</div>