<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{{$.detail.Title}}</title>
    <meta name="keywords" content="{{$.detail.Keywords}}" />
    <meta name="description" content="{{$.detail.Description}}" />
    <link rel="stylesheet" rev="stylesheet" href="/static/spider/template/positive/Qeeke6.css?v={{$.versions}}" type="text/css" media="screen" />
</head>
<body>
    <div id="Container">
        {{template "spider/template/positive/base/header.html" .}}
        <div id="MainBody">
            <div id="MainBodyTop"></div>
            <div id="content">
                <div class="left_box">
                    您当前位置：
                    <a href="/" title="{{$.domain.name}}">首页</a> &raquo;
                    <a href="{{urlfor "Lists.Index" ":id" $.cateInfo.Cid ":page" 0}}" title="{{$.cateInfo.Title}}">{{$.cateInfo.Name}}</a> &raquo;
                    <a href="{{urlfor "Detail.Index" ":id" $.detail.Oid}}" title="{{$.detail.Title}}">{{$.detail.Title}}</a>
                </div>
                <div id="node-8890" class="Post">
                    <div class="PostHead">
                        <div class="post_date">
                            <div class="post_month">Oct</div>
                            <div class="post_day">{{date $.detail.UpdateTime "d"}}</div>
                        </div>
                        <span><h3><a href="{{urlfor "Detail.Index" ":id" $.detail.Oid}}" title="{{$.detail.Title}}">{{$.detail.Title}}</a></h3></span>
                    </div>
                    <div class="PostContent">{{str2html $.detail.Context}}</div>
                    <div style="width:640px; padding: 15px 0; overflow: hidden;">
                        <div class="cmboxleft">
                            <div class="cmTitle"><h4>你可能感兴趣:</h4></div>
                            <ul class="xiangguan">
                                {{range $index, $item := spiderArticleLimit $.cids 8 "class IN " "RAND()" }}
                                    <li><a href="{{urlfor "Detail.Index" ":id" $item.Id}}" title="{{$item.Title}}">{{$item.Title}}</a></li>
                                {{end}}
                            </ul>
                        </div>
                        <div class="cmboxright">
                            <div class="cmTitle"><h4>为你推荐:</h4></div>
                            <ul class="xiangguan">
                                {{range $index, $item := spiderArticleLimit $.cids 8 "class IN " "RAND()" }}
                                    <li><a href="{{urlfor "Detail.Index" ":id" $item.Id}}" title="{{$item.Title}}">{{$item.Title}}</a></li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="SideBar">
                {{template "spider/template/positive/base/ranking.html" .}}
                {{template "spider/template/positive/base/recom.html" .}}
            </div>
        </div>
        {{template "spider/template/positive/base/footer.html" .}}
    </div>
</body>
</html>