<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,  initial-scale=1.0">
<link rel="icon" sizes="16x16" href="/static/favicon.png">
<link rel="stylesheet" href="/static/index/styles/bootstrap.min.css">
<link rel="stylesheet" href="/static/index/styles/font-awesome.min.css">
<link rel="stylesheet" href="/static/index/styles/line-awesome.css">
<link rel="stylesheet" href="/static/index/styles/animate.min.css">
<link rel="stylesheet" href="/static/index/styles/owl.carousel.min.css">
<link rel="stylesheet" href="/static/index/styles/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/index/styles/magnific-popup.css">
<link rel="stylesheet" href="/static/index/styles/style.css?v={{$.versions}}">
{{configStrToHtml "web_head_code"}}