<section class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-content text-center mt-0 border-0">
                    <p class="copy__desc">{{configStrToHtml "web_web_copyright"}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="scroll-top"><i class="fa fa-angle-up" title="回到顶部"></i></div>
<script src="/static/index/script/jquery-3.4.1.min.js"></script>
<script src="/static/index/script/popper.min.js"></script>
<script src="/static/index/script/bootstrap.min.js"></script>
<script src="/static/index/script/owl.carousel.min.js"></script>
<script src="/static/index/script/magnific-popup.min.js"></script>
<script src="/static/index/script/purecounter.js"></script>
<script src="/static/index/script/particles.min.js"></script>
<script src="/static/index/script/particlesRun.js"></script>
<script src="/static/index/script/smooth-scrolling.js"></script>
<script src="/static/index/script/main.js"></script>