<main id="main-container">
    <div class="content">
        <!-- 开始圆形进度条 -->
        <div class="row">
            <div class="col-6 col-lg-3">
                <a class="block block-link-shadow text-center" href="javascript:void(0)">
                    <div class="block-content py-2 bg-body-light">
                        <p class="font-w600 font-size-sm text-muted mb-0">CPU使用率</p>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="js-pie-chart pie-chart cpu_chart_pie" data-percent="0" data-line-width="8" data-size="100" data-bar-color="#45b5ae" data-track-color="#eeeeee">
                            <span class="chart_content">0%</span>
                        </div>
                    </div>
                    <div class="block-content py-2 bg-body-light chart_footer">
                        <p class="font-w600 font-size-sm text-muted mb-0"><span>加载中...</span> 核心</p>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a class="block block-link-shadow text-center" href="javascript:void(0)">
                    <div class="block-content py-2 bg-body-light">
                        <p class="font-w600 font-size-sm text-muted mb-0">负载状态</p>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="js-pie-chart pie-chart load_chart_pie" data-percent="0" data-line-width="8" data-size="100" data-bar-color="#45b5ae" data-track-color="#eeeeee">
                            <span class="chart_content">0%</span>
                        </div>
                    </div>
                    <div class="block-content py-2 bg-body-light chart_footer">
                        <p class="font-w600 font-size-sm text-muted mb-0">
                            <span>加载中...</span>&nbsp;
                            <i data-content="加载中..." data-toggle="popover" data-html="true" class="fa fa-exclamation-circle"></i>
                        </p>
                    </div>
                </a>
            </div>
            {{range $i, $e := .disk}}
                {{if lt $i 2 }}
                    <div class="col-6 col-lg-3">
                        <a class="block block-link-shadow text-center" href="javascript:void(0)">
                            <div class="block-content py-2 bg-body-light">
                                <p class="font-w600 font-size-sm text-muted mb-0">{{$e.Name}}</p>
                            </div>
                            <div class="block-content block-content-full">
                                <div class="js-pie-chart pie-chart" data-percent="{{$e.UsedPercent}}" data-line-width="8" data-size="100" data-bar-color="#45b5ae" data-track-color="#eeeeee">
                                    <span class="chart_content">{{$e.UsedPercent}}%</span>
                                </div>
                            </div>
                            <div class="block-content py-2 bg-body-light chart_footer">
                                <p class="font-w600 font-size-sm text-muted mb-0">
                                    {{$e.Used}}GB/{{$e.Total}}GB&nbsp;
                                    <i data-content="{{$e.Detail}}" data-toggle="popover" data-html="true" class="fa fa-exclamation-circle"></i>
                                </p>
                            </div>
                        </a>
                    </div>
                {{end}}
            {{end}}
        </div>
        <!-- 结束圆形进度条 -->
        <!-- 开始折线图 -->
        <div class="row chart_box" data-action="{{urlfor "Sign.Chart"}}">
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">网络实时流量监控</h3>
                        <div class="block-options">
                            <span class="badge badge-pill pt-1 pb-1" style="background:rgba(132, 94, 247, .3);color: #ffffff">上行 : <span class="network_up">0</span> KB</span>
                            <span class="badge badge-pill" style="background:rgba(233, 236, 239, 1);">下行 : <span class="network_dow">0</span> KB</span>
                        </div>
                    </div>
                    <div class="block-content p-0 text-center" style="min-height:290px">
                        <canvas class="js-chart-dashboard-network"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">内存实时占用监控</h3>
                        <div class="block-options">
                            <span class="badge badge-pill badge-success pt-1 pb-1">内存总量 : <span class="memory_total">0</span> GB</span>
                            <span class="badge badge-pill badge-primary pt-1 pb-1">使用数量 : <span class="memory_used">0</span> GB</span>
                        </div>
                    </div>
                    <div class="block-content p-0 text-center" style="min-height:290px">
                        <canvas class="js-chart-dashboard-memory"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- 结束折线图 -->
        <!-- 开始系统数量统计 -->
        <div class="row">
            {{range $i, $e := .processing}}
                <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                    <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="{{if $e.urls }} {{$e.urls}} {{else}} javascript:void(0) {{end}}">
                        <div class="block-content block-content-full">
                            <div class="font-size-sm font-w600 text-uppercase text-muted">{{$e.title}}</div>
                            <div class="font-size-h2 font-w400 text-dark">{{$e.count}} 个</div>
                        </div>
                    </a>
                </div>
            {{end}}
        </div>
        <!--结束系统数量统计 -->
    </div>
</main>


