<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {{template "index/base/head.html" .}}
    <title>{{config "String" "web_seo_title" ""}}</title>
    <meta name="description" content="{{config "String" "web_seo_description" ""}}">
    <meta name="keywords" content="{{config "String" "seo_keyword" ""}}">
</head>
<body>
    {{template "index/base/menu.html" .}}
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content text-center">
                        <div class="section-heading">
                            <h2 class="section__title text-center">动态资讯</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-list">
            <ul class="list-items">
                <li class="active__list-item"><a href="{{urlfor "Index.Index"}}" title="{{config "String" "web_seo_title" ""}}">首页</a></li>
                <li>动态资讯</li>
            </ul>
        </div>
    </section>
    <section class="blog-area padding-top-140px padding-bottom-120px">
        <div id="particles-bg"></div>
        <div class="container">
            <div class="row">
                {{range $i, $e := .pageList.List}}
                    <div class="col-lg-4 column-td-6">
                        <div class="card-item">
                            <div class="card-img-box">
                                <img src="{{$e.Cover | fileBuyPath}}" alt="{{$e.Title}}">
                            </div>
                            <div class="card-content">
                                <h3 class="card-title"><a href="{{urlfor "Detail.Index" ":id" $e.Id}}" title="{{$e.Title}}">{{$e.Title}}</a></h3>
                                <ul class="list-items">
                                    <li class="card-dot-active"><span class="la la-user"></span> 系统管理员</li>
                                    <li><span class="la la-calendar"></span> {{date $e.UpdateTime "Y年m月d日"}}</li>
                                </ul>
                                <a href="{{urlfor "Detail.Index" ":id" $e.Id}}" title="{{$e.Title}}" class="template-btn btn-layout-small">查看详情</a>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-navigation-wrap mt-4">
                        <div class="page-navigation mx-auto">
                            <a href="javascript:void(0)" class="page-go page-prev">
                                <i class="la la-arrow-left"></i>
                            </a>
                            <ul class="page-navigation-nav" data-total="{{.pageList.TotalPage}}" data-on="{{.pageList.PageNo}}" data-url="{{urlfor "Lists.Index" ":id" 1 ":page" 0}}"></ul>
                            <a href="javascript:void(0)" class="page-go page-next">
                                <i class="la la-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "index/base/script.html" .}}
    <script src="/static/spider/template/black/paginator.min.js?v={{$.versions}}"></script>
    <script src="/static/index/script/navigation.js?v={{$.versions}}"></script>
</body>
</html>