<div class="block block-themed">
    <div class="block-header">
        <h3 class="block-title">剧情采集 - 爬虫配置</h3>
    </div>
    <div class="block-content">
        <form action="{{urlfor "Movie.Config"}}" class="ajax_from" method="post">
            <div class="form-group row font-size-sm">
                <label class="col-form-label font-weight-normal pr-0 pl-2" for="interval">最大并发</label>
                <div class="col-sm-4 mr-5">
                    <div class="input-group">
                        <input class="form-control" type="number" id="interval" value="{{$.config.interval}}" name="interval" placeholder="请输入最大并发次数">
                        <div class="input-group-append"><span class="input-group-text font-size-sm">次</span></div>
                    </div>
                    <div class="help-block pt-1 pb-1 font-size-minimum">控制抓取频率；<code>减少采集源压力</code></div>
                </div>
                <label class="col-form-label font-weight-normal" for="push_time">发布间隔</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" type="text" id="push_time" value="{{$.config.push_time}}" name="push_time" placeholder="请输入发布间隔时间">
                        <div class="input-group-append"><span class="input-group-text font-size-sm">H</span></div>
                    </div>
                    <div class="help-block pt-1 pb-1 font-size-minimum">隔多久发布单条数据；<code>提高质量</code></div>
                </div>
            </div>
            <div class="form-group row font-size-sm">
                <label class="col-form-label font-weight-normal" for="send_domain">推送接口</label>
                <div class="col-sm-10">
                    <input class="form-control font-size-sm" id="send_domain" value="{{$.config.send_domain}}" type="text" name="send_domain" placeholder="推送接口地址"/>
                    <div class="help-block pt-2 pb-2 font-size-minimum">采集结果在推送时应该往那个地址进行推送；<code>请正确填写并返回正确格式；</code></div>
                </div>
            </div>
            <div class="form-group text-center fixed-bottom badge-light mb-0 p-3">
                <button type="submit" class="btn btn-sm btn-primary">保存配置</button>
            </div>
        </form>
    </div>
</div>