<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{$.domain.title}}</title>
    <meta name="keywords" content="{{$.domain.keywords}}" />
    <meta name="description" content="{{$.domain.description}}" />
    <link rel="stylesheet" type="text/css" href="/static/spider/template/student/common.css?v={{$.versions}}">
    <link rel="stylesheet" type="text/css" href="/static/spider/template/student/yahua.css?v={{$.versions}}">
  </head>
<body>
    {{template "spider/template/student/base/header.html" .}}
    <div class="main" style="margin-bottom: 40px !important;">
        {{range $i, $e := .cate}}
          <div class="l educat mt40 m16">
            <div class="educatcon">
              <div class="title2">
                <h3>{{$e.Name}}</h3>
              </div>
              <dl>
                <dt>
                    <a href="#">
                        <img src="images/educatcon.jpg" width="108" height="71" alt=""/>
                    </a>
                </dt>
                <dd>
                  <h3>2017学业生涯网学历文凭...</h3>
                  <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
              </dl>
              <ul>
                <li><a href="#">
                    <h3>努力提高自己的学历一直是奋斗的...</h3>
                    <span>16/09/01</span></a></li>
                <li><a href="#">
                    <h3>如何正确选择适合自己的方法途径呢?</h3>
                    <span>16/08/30</span></a></li>
                <li><a href="#">
                    <h3>中专在读：可以通过单招考试考入...</h3>
                    <span>16/08/29</span></a></li>
                <li><a href="#">
                    <h3>中在读的话还是建议老老实实的... </h3>
                    <span>16/08/28</span></a></li>
                <li><a href="#">
                    <h3>努力提高自己的学历一直是奋斗的...</h3>
                    <span>16/09/01</span></a></li>
                <li><a href="#">
                    <h3>如何正确选择适合自己的方法途径呢?</h3>
                    <span>16/08/30</span></a></li>
                <li><a href="#">
                    <h3>中专在读：可以通过单招考试考入...</h3>
                    <span>16/08/29</span></a></li>
                <div class="c"></div>
              </ul>
            </div>
            <a title="{{$e.Name}}" href="{{urlfor "Lists.Index" ":id" $e.Id ":page" 0}}" class="moretu"></a>
          </div>
        {{end}}
    </div>
    {{template "spider/template/student/base/footer.html" .}}
</body>
</html>
