<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{$.domain.title}}</title>
    <meta name="keywords" content="{{$.domain.keywords}}" />
    <meta name="description" content="{{$.domain.description}}" />
    <link rel="stylesheet" type="text/css" href="style/common.css">
    <link rel="stylesheet" type="text/css" href="style/yahua.css">
  </head>

<body>
<!--heder start-->
<div class="headerbg">
  <div class="header"> <a href="#" class="logo l"><img src="images/logo.gif" width="305" height="70" alt="亚华教育官网logo(图)"/></a>
    <div class="menu r">
      <div class="loginform r">
        <form class="r">
          <input type="text" class="formname" value="登录名" onfocus="if(this.value == '登录名')this.value = ''" onblur="if(this.value == '')this.value='登录名'" />
          <input type="text" class="formpass" value="密码" onfocus="if(this.value == '密码')this.value = ''" onblur="if(this.value == '')this.value='密码'" />
          <input type="submit" value="登录" class="regis" />
          <input type="submit" value="注册" class="login" />
        </form>
      </div>
      <ul class="nav">
        <li><a href="#">学业生涯规划</a></li>
        <li><a href="#">会员专区</a></li>
        <li><a href="#">在线咨询</a></li>
        <li><a href="#">对外合作</a></li>
        <li><a href="#" style="margin-right:0px;">关于我们</a></li>
        <div class="c"></div>
      </ul>
    </div>
  </div>
</div>
<!--header end--> 
<!--banner start--> 
<script type="text/javascript" src="js/banner.index.js"></script>
<div class="banner">
  <div id="full-screen-slider">
    <ul id="slides">
      <li style="background:url(images/banner.jpg) no-repeat center top"><a href=""></a></li>
      <li style="background:url(images/ban02.jpg) no-repeat center top"><a href=""></a></li>
      <li style="background:url(images/ban03.jpg) no-repeat center top"><a href=""></a></li>
    </ul>
  </div>
</div>
<!--banner end--> 
<!--picture scroll start-->
<div class="img-scroll"> <span class="next"><img src="images/arrowleft.png" width="12" height="20"></span> <span class="prev"><img src="images/arrowrig.png" width="12" height="20"></span>
  <div class="img-list">
    <ul>
      <li><a href="#"><img src="images/junior.jpg" width="278" height="118" alt=""/></a></li>
      <li><a href="#"><img src="images/zhongzhuan.jpg" width="278" height="118" alt=""/></a></li>
      <li><a href="#"><img src="images/junior.jpg" width="278" height="118" alt=""/></a></li>
      <li><a href="#"><img src="images/zhongzhuan.jpg" width="278" height="118" alt=""/></a></li>
      <li><a href="#"><img src="images/junior.jpg" width="278" height="118" alt=""/></a></li>
      <li><a href="#"><img src="images/zhongzhuan.jpg" width="278" height="118" alt=""/></a></li>
    </ul>
  </div>
  <script type="text/javascript" src="js/gun.js"></script> 
</div>
<!--picture scroll end-->
<div class="main">
  <div class="scroll l">
    <div class="slider2">
      <div class="bd">
        <ul>
          <li><a href="#"><img src="images/pictu.jpg" width="398" height="298" alt=""/></a></li>
          <li><a href="#"><img src="images/pictu2.jpg" width="398" height="298" alt=""/></a></li>
          <li><a href="#"><img src="images/pictu3.jpg" width="398" height="298" alt=""/></a></li>
          <li><a href="#"><img src="images/pictu2.jpg" width="398" height="298" alt=""/></a></li>
          <li><a href="#"><img src="images/pictu3.jpg" width="398" height="298" alt=""/></a></li>
        </ul>
      </div>
      <div class="hd2">
        <ul>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
jQuery(".slider2 .bd li").first().before( jQuery(".slider2 .bd li").last() );			
jQuery(".slider2").slide({ titCell:".hd2 ul", mainCell:".bd ul", effect:"leftLoop",autoPlay:true, vis:3,autoPage:true, trigger:"click"});
</script> 
  </div>
  <div id="outer2" class="l">
    <ul id="tab2">
      <li class="current2">要闻速递</li>
      <li>通知公告</li>
      <a href="#" class="more r">More></a>
    </ul>
    <div id="content2">
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活...<a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>教学管理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活...<a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
    </div>
  </div>
  <div class="schoolshow r">
    <div class="title l">
      <h3>院校展播</h3>
      <a href="#" class="more r">More></a> </div>
    <ul id="schpicshow" class="l">
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
      <li><a href="#"><img src="images/school01.jpg" width="148" height="51" alt=""/></a></li>
    </ul>
  </div>
</div>

<!--教育学   电脑技术-->
<div class="main">
  <div id="outer6" class="mt40">
    <ul id="tab6">
      <li class="current6">教育学</li>
      <li>电脑技术</li>
      <a href="#" class="more r">More></a>
    </ul>
    <div id="content6">
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>学业生涯网官网上线了，在线为您专属定制2017年学习方案，广大学子的福利，更多的为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活... <a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>教学管理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活...<a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
    </div>
  </div>
  <!--教育学   电脑技术--> 
  
  <!--机械   创业与营销管理-->
  <div id="outer7" class="mt40">
    <ul id="tab7">
      <li class="current7">机械</li>
      <li>创业与营销管理</li>
      <a href="#" class="more r">More></a>
    </ul>
    <div id="content7">
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>学业生涯网官网上线了，在线为您专属定制2017年学习方案，广大学子的福利，更多的为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活... <a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>教学管理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
      <ul style="display:block;">
        <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
          <div class="conteatxt">
            <h3>2016年10月25日广播体操比赛</h3>
            <span>为了提高我校的广播操质量，激发同学们做广播操的积极性与热情，同时也为了丰富学生校园文化生活...<a href="#" class="more2">More></a></span> </div>
        </div>
        <li><a href="#">
          <h3>理中心开展学期初教学培训活动</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>10月11日羽毛球比赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年10月6日国庆篮球赛</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年2016年9月30日班主任座谈会</h3>
          <span>2017/01/16</span></a></li>
        <li><a href="#">
          <h3>2016年9月7日走进泰山医学院</h3>
          <span>2017/01/16</span></a></li>
      </ul>
    </div>
  </div>
  <!--机械   创业与营销管理--> 
</div>
<a href="#" class="ad"> <img src="images/ad.jpg" width="1198" height="153" alt=""/> </a>
<div class="gray">
  <div class="main"> 
    <!--通专套本   工程硕士-->
    <div id="outer4" class="l m16 mb40">
      <ul id="tab4">
        <li class="current4">通专套本</li>
        <li>工程硕士</li>
      </ul>
      <div id="content4">
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>2017年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    <!--通专套本   工程硕士--> 
    
    <!--本科+技师    本硕连读	-->
    
    <div id="outer3" class="l m16 mb40">
      <ul id="tab3">
        <li class="current3">本科+技师</li>
        <li>本硕连读</li>
      </ul>
      <div id="content3">
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>2017年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    
    <!--本科+技师    本硕连读	--> 
    
    <!--春季高考  天师对口单招-->
    
    <div id="outer" class="l mb40">
      <ul id="tab">
        <li class="current">春季高考</li>
        <li>天师对口单招</li>
      </ul>
      <div id="content">
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>2017年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    
    <!--国际教育  中外合作办学（本科、硕士）-->
    
    <div id="outer5" class="l m16">
      <ul id="tab5">
        <li class="current5">国际教育</li>
        <li>中外合作办学（本科、硕士）</li>
        <a href="#" class="more r">More></a>
      </ul>
      <div id="content5">
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/tu.gif" width="118" height="84" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>2017年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
        <ul style="display:block;">
          <div class="contea"> <a href="#" class="pic"><img src="images/pic.jpg" width="120" height="86" alt=""/></a>
            <div class="conteatxt">
              <h3>2016年10月25日广播体操比赛</h3>
              <span>年度学业生涯网春季高考最新政策已发布，更多内容点击...<a href="#" style="color:#158d91;">>></a></span> </div>
          </div>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>前7个月蒙古煤炭产量和出口增长</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>很多同学一上来就说我要读全日制，但...</h3>
            <span>2017/01/16</span></a></li>
          <li><a href="#">
            <h3>专科毕业（无论是成教、自考专科还是...</h3>
            <span>2017/01/16</span></a></li>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    
    <!--国际教育  中外合作办学（本科、硕士）--> 
    
    <!--国防教育试点-->
    <div class="l educat2 m16">
      <div class="educatcon">
        <div class="title2">
          <h3>国防教育试点 </h3>
          <a href="#" class="more r">More></a> </div>
        <dl>
          <dt><a href="#"><img src="images/educatcon.jpg" width="108" height="71" alt=""/></a></dt>
          <dd>
            <h3>2017学业生涯网学历文凭...</h3>
            <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
        </dl>
        <ul>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>16/09/01</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>16/08/30</span></a></li>
          <li><a href="#">
            <h3>中专在读：可以通过单招考试考入...</h3>
            <span>16/08/29</span></a></li>
          <li><a href="#">
            <h3>中在读的话还是建议老老实实的... </h3>
            <span>16/08/28</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>16/09/01</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>16/08/30</span></a></li>
          <li><a href="#">
            <h3>中专在读：可以通过单招考试考入...</h3>
            <span>16/08/29</span></a></li>
          <div class="c"></div>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    <!--国防教育试点--> 
    <!--综合高中教育-->
    
    <div class="l educat">
      <div class="educatcon">
        <div class="title2">
          <h3>综合高中教育</h3>
        </div>
        <dl>
          <dt><a href="#"><img src="images/educatcon.jpg" width="108" height="71" alt=""/></a></dt>
          <dd>
            <h3>2017学业生涯网学历文凭...</h3>
            <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
        </dl>
        <ul>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>16/09/01</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>16/08/30</span></a></li>
          <li><a href="#">
            <h3>中专在读：可以通过单招考试考入...</h3>
            <span>16/08/29</span></a></li>
          <li><a href="#">
            <h3>中在读的话还是建议老老实实的... </h3>
            <span>16/08/28</span></a></li>
          <li><a href="#">
            <h3>努力提高自己的学历一直是奋斗的...</h3>
            <span>16/09/01</span></a></li>
          <li><a href="#">
            <h3>如何正确选择适合自己的方法途径呢?</h3>
            <span>16/08/30</span></a></li>
          <li><a href="#">
            <h3>中专在读：可以通过单招考试考入...</h3>
            <span>16/08/29</span></a></li>
          <div class="c"></div>
        </ul>
      </div>
      <a href="#" class="moretu"></a> </div>
    <!--综合高中教育--> 
    
  </div>
</div>
<div class="main"> 
  
  <!--高端人才培养-->
  <div class="l educat mb40 mt40 m16">
    <div class="educatcon">
      <div class="title2">
        <h3>高端人才培养</h3>
      </div>
      <dl>
        <dt><a href="#"><img src="images/educatcon.jpg" width="108" height="71" alt=""/></a></dt>
        <dd>
          <h3>2017学业生涯网学历文凭...</h3>
          <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
      </dl>
      <ul>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <li><a href="#">
          <h3>中在读的话还是建议老老实实的... </h3>
          <span>16/08/28</span></a></li>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <div class="c"></div>
      </ul>
    </div>
    <a href="#" class="moretu"></a> </div>
  <!--高端人才培养--> 
  <!--零学费产学合作-->
  <div class="l educat2 mt40 mb40 m16">
    <div class="educatcon">
      <div class="title2">
        <h3>零学费产学合作 </h3>
        <a href="#" class="more r">More></a> </div>
      <dl>
        <dt><a href="#"><img src="images/educatcon.jpg" width="108" height="71" alt=""/></a></dt>
        <dd>
          <h3>2017学业生涯网学历文凭...</h3>
          <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
      </dl>
      <ul>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <li><a href="#">
          <h3>中在读的话还是建议老老实实的... </h3>
          <span>16/08/28</span></a></li>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <div class="c"></div>
      </ul>
    </div>
    <a href="#" class="moretu"></a> </div>
  <!--零学费产学合作--> 
  <!--学历文凭提升-->
  <div class="l educat mt40 mb40">
    <div class="educatcon">
      <div class="title2">
        <h3>学历文凭提升</h3>
      </div>
      <dl>
        <dt><a href="#"><img src="images/educatcon.jpg" width="108" height="71" alt=""/></a></dt>
        <dd>
          <h3>2017学业生涯网学历文凭...</h3>
          <span>2017年度学业生涯网学历文凭提升方案已经发布，更多内容点击... <a href="#">>></a></span> </dd>
      </dl>
      <ul>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <li><a href="#">
          <h3>中在读的话还是建议老老实实的... </h3>
          <span>16/08/28</span></a></li>
        <li><a href="#">
          <h3>努力提高自己的学历一直是奋斗的...</h3>
          <span>16/09/01</span></a></li>
        <li><a href="#">
          <h3>如何正确选择适合自己的方法途径呢?</h3>
          <span>16/08/30</span></a></li>
        <li><a href="#">
          <h3>中专在读：可以通过单招考试考入...</h3>
          <span>16/08/29</span></a></li>
        <div class="c"></div>
      </ul>
    </div>
    <a href="#" class="moretu"></a> </div>
  <!--学历文凭提升--> 
  
</div>

<!--课程&平台-->
<div class="gray">
  <div class="main kecapt">
    <dl class="l">
      <dt><a href="#" class="general"><img src="images/tongyong.gif" width="400" height="188" alt=""/></a></dt>
      <dd><a href="#"><img src="images/zonghekc.gif" width="200" height="318" alt=""/></a></dd>
      <dd><a href="#"><img src="images/gerenxyang.gif" width="200" height="318" alt=""/></a></dd>
      <div class="c"></div>
    </dl>
    <ul class="l">
      <li><a href="#"><img src="images/zynlikec.gif" width="400" height="253" alt=""/></a></li>
      <li><a href="#"><img src="images/shijptai.gif" width="400" height="253" alt=""/></a></li>
      <div class="c"></div>
    </ul>
    <dl class="r">
      <dd><a href="#"><img src="images/gaopinzhi.gif" width="200" height="318" alt=""/></a></dd>
      <dd><a href="#"><img src="images/tuijianjiuye.gif" width="200" height="318" alt=""/></a></dd>
      <dt><a href="#" class="general"><img src="images/chuangye.gif" width="400" height="188" alt=""/></a></dt>
      <div class="c"></div>
    </dl>
  </div>
</div>
<!--课程&平台--> 

<!--友情链接-->
<div class="main link">
  <div class="title">
    <h3>友情链接</h3>
  </div>
  <ul class="linkcon">
    <li><a href="#" style="margin-left:0px;"><img src="images/linklogo.gif" width="212" height="88" alt=""/></a></li>
    <li><a href="#"><img src="images/linklogo.gif" width="212" height="88" alt=""/></a></li>
    <li><a href="#"><img src="images/linklogo.gif" width="212" height="88" alt=""/></a></li>
    <li><a href="#"><img src="images/linklogo.gif" width="212" height="88" alt=""/></a></li>
    <li><a href="#"><img src="images/linklogo.gif" width="212" height="88" alt=""/></a></li>
  </ul>
</div>

<!--友情链接--> 

<!--页面顶部-->
<div class="footer">
<div class="main">
  <ul class="l footernav">
    <li><a href="#">设为首页</a></li>
    <li><a href="#">加入收藏</a></li>
    <li><a href="#">联系我们</a></li>
    <li><a href="#">合作单位</a></li>
    <li><a href="#">版权申明</a></li>
    <li><a href="#">招生公告</a></li>
    <li><a href="#">友情链接</a></li>
  </ul>
  <div class="r copyright"> Copyright © 学业生涯网 2009-2016 All rights reserved. </div>
</div>
<div id="gotop"> <a id="gotoparrow" onclick="return false;" title="回到顶部"></a> </div>
<div id="registerbg">
  <ul id="register">
    <form class="registerform">
      <li>
        <input type="text" class="regformname" value="请输入真实姓名：" onfocus="if(this.value == '请输入真实姓名：')this.value = ''" onblur="if(this.value == '')this.value='请输入真实姓名：'" />
      </li>
      <li>
        <input type="text" class="regformname" value="请设置登录密码：" onfocus="if(this.value == '请设置登录密码：')this.value = ''" onblur="if(this.value == '')this.value='请设置登录密码：'" />
      </li>
      <li>
        <input type="text" class="regformname" value="请确认登录密码：" onfocus="if(this.value == '请确认登录密码：')this.value = ''" onblur="if(this.value == '')this.value='请确认登录密码：'" />
      </li>
      <li>
        <input type="text" class="regformname" value="请输入联系电话：" onfocus="if(this.value == '请输入联系电话：')this.value = ''" onblur="if(this.value == '')this.value='请输入联系电话：'" />
      </li>
      <li>
        <input type="text" class="regformadd" value="请输入您的邮箱地址：" onfocus="if(this.value == '请输入您的邮箱地址：')this.value = ''" onblur="if(this.value == '')this.value='请输入您的邮箱地址：'" />
      </li>
      <li>
        <input type="text" class="regformadd" value="请输入您的毕业院校：" onfocus="if(this.value == '请输入您的毕业院校：')this.value = ''" onblur="if(this.value == '')this.value='请输入您的毕业院校：'" />
      </li>
      <li>
        <input type="text" class="regformadd" value="请输入现居住地址：" onfocus="if(this.value == '请输入现居住地址：')this.value = ''" onblur="if(this.value == '')this.value='请输入现居住地址：'" />
      </li>
      <li>
        <input type="submit" value="立马注册" class="regisform" />
        <input type="reset" value="重置" class="reset" />
      </li>
    </form>
  </ul>
</div>







</body>
</html>
