<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     {{str2html $.domain.HeadCode}}
    <title>{{$.domain.title}}</title>
    <meta name="keywords" content="{{$.domain.keywords}}" />
    <meta name="description" content="{{$.domain.description}}" />
    <link rel="stylesheet" type="text/css" href="/static/spider/template/student/common.css?v={{$.versions}}">
    <link rel="stylesheet" type="text/css" href="/static/spider/template/student/yahua.css?v={{$.versions}}">
  </head>
<body>
    {{template "spider/template/student/base/header.html" .}}
    <div class="main" style="margin-bottom: 40px !important;">
        {{range $i, $e := .cate}}
          <div class="l educat mt40 m16">
            <div class="educatcon">
              <div class="title2">
                <h3>{{$e.Name}}</h3>
              </div>
                {{range $index, $item := spiderArticleLimit $e.Id 1 "class=" "RAND()" }}
                  <dl>
                    <dt>
                        <a href="{{urlfor "Detail.Index" ":id" $item.Id}}" title="{{$item.Title}}">
                            <img src="{{randomCover $.model.Id}}" width="108" height="71" alt="{{$item.Title}}"/>
                        </a>
                    </dt>
                    <dd>
                      <h3>{{substr $item.Title 0 16}}</h3>
                      <span>{{substr $item.Description 0 30}}...<a href="{{urlfor "Detail.Index" ":id" $item.Id}}" title="{{$item.Title}}">>></a></span> </dd>
                  </dl>
                {{end}}
                  <ul>
                      {{range $index, $item := spiderArticleLimit $e.Id 7 "class=" "RAND()" }}
                        <li>
                            <a href="{{urlfor "Detail.Index" ":id" $item.Id}}" title="{{$item.Title}}">
                                <h3>{{substr $item.Title 0 16}}...</h3>
                                <span>{{date $item.UpdateTime "Y/m/d"}}</span>
                            </a>
                        </li>
                      {{end}}
                  </ul>
            </div>
            <a title="{{$e.Name}}" href="{{urlfor "Lists.Index" ":id" $e.Id ":page" 0}}" class="moretu"></a>
          </div>
        {{end}}
    </div>
    {{template "spider/template/student/base/footer.html" .}}
</body>
</html>
