<main id="main-container">
    {{template "admin/breadcrumb.html" .}}
    <div class="content p-3">
        <div class="alert alert-primary alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="mb-0 font-size-sm font-weight-normal">
                <strong><i class="fa fa-fw fa-info-circle"></i> 搜索格式为(可随意组合;满足条件k:v即可,多个请用｜线分割)：</strong>date:<code>年-月-日</code>|spider_ip:<code>IP频段</code>|domain:<code>域名</code>|spider_title:<code>爬虫名称</code>|spider_name:<code>爬虫标识</code>
            </p>
        </div>
        <!-- Full Table -->
        <div class="block block-themed">
            <div class="block-header border-bottom">
                <h3 class="block-title font-weight-normal">蜘蛛日志</h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option font-size-sm" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                </div>
            </div>
            <div class="block-content pt-2">
                <div class="table-responsive pb-2 font-size-sm table-responsive-custom">
                    <table class="js-table-checkable table table-bordered table-striped table-vcenter js-dataTable_init" data-action=""></table>
                </div>
            </div>
        </div>
        <!-- END Full Table -->
    </div>
</main>