{{template "admin/collect/common/head_html_style.html" .}}
<main id="main-container">
    {{template "admin/breadcrumb.html" .}}
    <div class="content p-3">
        <div class="js-wizard-simple block">
            <div class="progress rounded-0" data-wizard="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <ul class="nav nav-tabs nav-tabs-alt nav-justified" role="tablist">
                <li class="nav-item"><a class="nav-link rounded-0 font-weight-normal active" href="#base" data-toggle="tab">基础信息</a></li>
                <li class="nav-item"><a class="nav-link rounded-0 font-weight-normal" href="#filed" data-toggle="tab">字段匹配</a></li>
            </ul>
            <form action="{{urlfor "Collect.Edit" ":id" $.info.Id}}" class="ajax_from_custom" method="post">
                <div class="block-content block-content-full tab-content pb-0 overflow-hidden">
                    <div class="fade fade-left tab-pane active show" id="base" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal" for="name">爬虫名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-alt font-size-sm" value="{{$.info.Name}}" id="name" name="name" placeholder="请输入爬虫名称">
                                        <div class="help-block pt-1 pb-1 font-size-minimum"><code>爬虫名称必填；用于您的快速搜索跟备注</code></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal text-right" for="domain">推送地址</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-alt font-size-sm" value="{{$.info.Domain}}" id="domain" name="domain" placeholder="请输入爬虫推送地址">
                                        <div class="help-block pt-1 pb-1 font-size-minimum"><code>蜘蛛池：http://您的域名/index/spider/api?:module=模型ID</code></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-1 col-form-label font-weight-normal" for="source_rule">采集规则</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control form-control-alt font-size-sm" value="{{$.info.SourceRule}}" id="source_rule" name="source_rule" placeholder="请输入匹配规则">
                                        <div class="help-block pt-1 pb-1 font-size-minimum">
                                            匹配规则为内容检索的一个条件；该条件决定了在采集连接中你所想要的内容URL;例如：<code>https://www.xxx.com/news_([a-z]+)_([0-9]+)/</code>
                                            <a class="label label-danger modal_source_rule_test_btn" data-action="{{urlfor "Collect.Test" ":type" "rule"}}" href="javascript:void(0)">检索测试？</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal" style="line-height: 77px;" for="source">采集连接</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control form-control-alt font-size-sm" id="source" name="source" rows="3" placeholder="请输入采集连接池...">{{$.info.Source}}</textarea>
                                        <div class="help-block pt-1 pb-1 font-size-minimum">
                                            每行一条URL;可使用工具批量生成；
                                            <a class="label label-danger" data-toggle="modal" data-target="#modal-batch-urls" href="javascript:void(0)">批量生成工具？</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal text-right" style="line-height: 77px;" for="remark">爬虫备注</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control form-control-alt font-size-sm" id="remark" name="remark" rows="3" placeholder="请输入爬虫备注...">{{$.info.Remark}}</textarea>
                                        <div class="help-block pt-1 pb-1 font-size-minimum">请填写您的爬虫备注；<code>必填</code></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal" for="interval">最大并发</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input class="form-control" type="number" id="interval" value="{{$.info.Interval}}" name="interval" placeholder="请输入最大并发次数">
                                            <div class="input-group-append"><span class="input-group-text font-size-sm">次</span></div>
                                        </div>
                                        <div class="help-block pt-1 pb-1 font-size-minimum">控制抓取的频率；<code>不给对方网站带来压力和资源消耗</code></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm">
                                    <label class="col-sm-2 col-form-label font-weight-normal text-right" for="push_time">发布间隔</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input class="form-control" type="number" id="push_time" value="{{$.info.PushTime}}" name="push_time" placeholder="请输入发布间隔时间">
                                            <div class="input-group-append"><span class="input-group-text font-size-sm">小时</span></div>
                                        </div>
                                        <div class="help-block pt-1 pb-1 font-size-minimum">每隔几小时发布一条数据；<code>提高收录质量</code></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm mb-3">
                                    <label class="col-sm-2 col-form-label font-weight-normal">语言转换</label>
                                    <div class="col-sm-10">
                                        <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                                            <input type="radio" class="custom-control-input" id="translate_0" name="translate" value="0" {{if eq 0 $.info.Translate}} checked {{end}}>
                                            <label class="custom-control-label" for="translate_0">禁止转换</label>
                                        </div>
                                        <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                                            <input type="radio" class="custom-control-input" id="translate_1" name="translate" value="1" {{if eq 1 $.info.Translate}} checked {{end}}>
                                            <label class="custom-control-label" for="translate_1">简体转繁体</label>
                                        </div>
                                        <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                                            <input type="radio" class="custom-control-input" id="translate_2" name="translate" value="2" {{if eq 2 $.info.Translate}} checked {{end}}>
                                            <label class="custom-control-label" for="translate_2">繁体转简体</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row font-size-sm mb-3">
                                    <label class="col-sm-2 col-form-label font-weight-normal text-right">资源下载</label>
                                    <div class="col-sm-10">
                                        <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                                            <input type="radio" class="custom-control-input" id="download_0" name="download" value="0" {{if eq 0 $.info.Download}} checked {{end}}>
                                            <label class="custom-control-label" for="download_0">禁止下载</label>
                                        </div>
                                        <div class="custom-control-inline custom-control custom-radio custom-control-primary" style="padding-top: 6px">
                                            <input type="radio" class="custom-control-input" id="download_1" name="download" value="1" {{if eq 1 $.info.Download}} checked {{end}}>
                                            <label class="custom-control-label" for="download_1">启用下载</label>
                                        </div>
                                        <div class="help-block pt-1 pb-1 font-size-minimum">启用下载将联动到；<code>系统设置->采集设置->云端储存</code></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade fade-left tab-pane" id="filed" role="tabpanel">
                        <div class="block">
                            <div class="block-header block-header-default">
                                <h3 class="block-title font-weight-normal font-size-sm">字段匹配</h3>
                                <div class="block-options">
                                    <button type="button" class="filed_create btn btn-sm btn-alt-primary font-weight-normal font-size-sm">添加字段</button>
                                    <button type="button" data-action="{{urlfor "Collect.Test" ":type" "filed"}}" class="matching_test btn btn-sm btn-alt-success font-weight-normal font-size-sm">字段效应</button>
                                </div>
                            </div>
                            <div class="block-content field_create_child_box" data-key="{{$.info.MatchingCount}}">
                                {{range $index, $item := $.info.MatchingJson}}
                                     <div class="row pt-3 pb-3 mb-3" style="border: 2px dashed #ddd;position: relative">
                                        <div class="col-lg-3">
                                            <div class="row font-size-sm">
                                                <label class="col-sm-4 col-form-label font-weight-normal pr-0" for="matching[{{$index}}][selector]">选择对象</label>
                                                <div class="col-sm-8 pl-0">
                                                    <input type="text" class="form-control form-control-alt font-size-sm" value="{{$item.Selector}}" id="matching[{{$index}}][selector]" data-name="selector" placeholder="请输入选择对象">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row font-size-sm">
                                                <label class="col-sm-4 col-form-label font-weight-normal text-right pr-0" for="matching[{{$index}}][field]">对应字段</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control form-control-alt font-size-sm" value="{{$item.Field}}" id="matching[{{$index}}][field]" data-name="field" placeholder="请输入对应字段">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row font-size-sm">
                                                <label class="col-sm-4 col-form-label font-weight-normal text-right pr-0" for="matching[{{$index}}][form]">字段类型</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-alt font-size-sm" data-name="form" id="matching[{{$index}}][form]">
                                                        <option {{if eq 0 $item.Form}} selected {{end}} value="0">文本字符</option>
                                                        <option {{if eq 1 $item.Form}} selected {{end}} value="1">资源提取</option>
                                                        <option {{if eq 2 $item.Form}} selected {{end}} value="2">属性提取</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row font-size-sm">
                                                <label class="col-sm-4 col-form-label font-weight-normal text-right pr-0" for="matching[{{$index}}][attr_name]">属性名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control form-control-alt font-size-sm" value="{{$item.AttrName}}" id="matching[{{$index}}][attr_name]" data-name="attr_name" placeholder="请输入提取属性名称">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-3">
                                            <div class="row font-size-sm">
                                                <label class="col-sm-4 col-form-label font-weight-normal pr-0" for="matching[{{$index}}][filtration]">过滤方式</label>
                                                <div class="col-sm-8 pl-0">
                                                    <select class="form-control form-control-alt font-size-sm" data-name="filtration" id="matching[{{$index}}][filtration]">
                                                        <option {{if eq 0 $item.Filtration}} selected {{end}} value="0">不做过滤</option>
                                                        <option {{if eq 1 $item.Filtration}} selected {{end}} value="1">过滤HTML</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="col-lg-3 mt-3">
                                             <div class="row font-size-sm">
                                                 <label class="col-sm-4 col-form-label font-weight-normal text-right pr-0" for="matching[{{$index}}][eliminate]">剔除词汇</label>
                                                 <div class="col-sm-8">
                                                     <input type="text" class="form-control form-control-alt font-size-sm" value="{{$item.Eliminate}}" id="matching[{{$index}}][eliminate]" data-name="eliminate" placeholder="请输入剔除词汇">
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-lg-3 mt-3">
                                             <div class="row font-size-sm">
                                                 <label class="col-sm-4 col-form-label font-weight-normal text-right pr-0" for="matching[{{$index}}][image]">剔除图片</label>
                                                 <div class="col-sm-8">
                                                     <select class="form-control form-control-alt font-size-sm" data-name="image" id="matching[{{$index}}][image]">
                                                         <option {{if eq 0 $item.Image}} selected {{end}} value="0">不作处理</option>
                                                         <option {{if eq 1 $item.Image}} selected {{end}} value="1">剔除标签</option>
                                                     </select>
                                                 </div>
                                             </div>
                                         </div>

                                        <div class="field_delete"><i class="si si-close"></i></div>
                                     </div>
                                 {{end}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-sm block-content-full bg-body-light">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-sm font-weight-normal" data-wizard="prev"><i class="fa fa-angle-left mr-1"></i> 上一步</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-secondary btn-sm font-weight-normal" data-wizard="next">下一步 <i class="fa fa-angle-right ml-1"></i></button>
                            <button type="submit" class="btn btn-primary btn-sm font-weight-normal d-none" data-wizard="finish"><i class="fa fa-check mr-1"></i> 提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{{template "admin/collect/common/field_create_child.html" .}}
{{template "admin/collect/common/modal_batch_urls.html" .}}
{{template "admin/collect/common/modal_test_retrieve.html" .}}
{{template "admin/collect/common/modal_test_field.html" .}}