<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {{template "index/base/head.html" .}}
    <meta name="description" content="{{config "String" "web_seo_description" ""}}">
    <meta name="keywords" content="{{config "String" "seo_keyword" ""}}">
    <title>{{config "String" "web_seo_title" ""}}</title>
    <link rel="stylesheet" href="/static/admin/plugins/sweet-alert/sweetalert.css?v={{$.versions}}">
</head>
<body>
    {{template "index/base/menu.html" .}}
    <section class="slider-area banner-area text-center">
        <div class="single-slide-item slide-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <div class="section-heading">
                                <p class="section__meta">欢迎来到{{config "String" "web_name" ""}}官网</p>
                                <h2 class="section__title">搜索引擎不收录或不给排名?</h2>
                            </div>
                            <div class="section-description">
                                <p class="section__desc">如果你在做SEO优化网站的时候遇到了发布了内容，但蜘蛛不来或者蜘蛛来了不收录的情况，<br/>那么你可能面临内容质量不够，蜘蛛来的渠道不多等问题！</p>
                            </div>
                            <div class="btn-box hero-btn-box">
                                <a href="{{config "String" "web_index_video" ""}}" class="video-text-btn mfp-iframe video-play-btn">
                                    <span class="video-btn"><i class="la la-play"></i></span>
                                    <span>视频演示</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="funfact-area section--padding text-center">
        <div id="particles-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h5 class="section__meta">产品效果</h5>
                        <h2 class="section__title padding-bottom-15px line-height-55">系统拥有先进的算法，正因如此<br/>我们的数据是直观的！</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 column-td-6">
                    <div class="counter-item counter-item-color-1">
                        <h4 class="counter__title">
                            <span data-purecounter-duration="2.5" data-purecounter-end="867801" class="counter purecounter">0</span>
                        </h4>
                        <p class="counter__meta">日统计引导</p>
                    </div>
                </div>
                <div class="col-lg-3 column-td-6">
                    <div class="counter-item counter-item-color-3">
                        <h4 class="counter__title">
                            <span data-purecounter-duration="2.5" data-purecounter-end="830220" class="counter purecounter">0</span>
                        </h4>
                        <p class="counter__meta">日统计提交量</p>
                    </div>
                </div>
                <div class="col-lg-3 column-td-6">
                    <div class="counter-item counter-item-color-2">
                        <h4 class="counter__title">
                            <span data-purecounter-duration="2.5" data-purecounter-end="30801" class="counter purecounter">0</span>
                        </h4>
                        <p class="counter__meta">日统计收录</p>
                    </div>
                </div>
                <div class="col-lg-3 column-td-6">
                    <div class="counter-item counter-item-color-4">
                        <h4 class="counter__title">
                            <span data-purecounter-duration="2.5" data-purecounter-end="37890" class="counter purecounter">0</span>
                        </h4>
                        <p class="counter__meta">日统计沙盒</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="advantage" class="hiw-area section-bg section--padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h5 class="section__meta">功能与优势</h5>
                        <h2 class="section__title padding-bottom-15px">聚合众多优化方案，高质量的核心算法</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                {{range $i, $e := .advantage}}
                    <div class="col-lg-4 column-td-6">
                        <div class="info-box">
                            <div class="info__icon mx-auto">{{str2html $e.Icon}}</div>
                            <h3 class="info__title">{{$e.Title}}</h3>
                            <p class="info__text">{{$e.Description}}</p>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    <section class="blog-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h5 class="section__meta">动态资讯</h5>
                        <h2 class="section__title padding-bottom-15px line-height-55">在这里你会得到更多专业知识 <br> 每天都有新发现！</h2>
                    </div>
                    <div class="section-divider"></div>
                </div>
            </div>
            <div class="row mt-5">
                {{range $i, $e := .news}}
                    <div class="col-lg-4 column-td-6">
                        <div class="card-item">
                            <div class="card-img-box">
                                <img src="{{$e.Cover | fileBuyPath}}" alt="{{$e.Title}}">
                            </div>
                            <div class="card-content">
                                <h3 class="card-title"><a title="{{$e.Title}}" href="{{urlfor "Detail.Index" ":id" $e.Id}}">{{$e.Title}}</a></h3>
                                <ul class="list-items">
                                    <li class="card-dot-active"><span class="la la-user"></span> 系统管理员</li>
                                    <li><span class="la la-calendar"></span> {{date $e.UpdateTime "Y年m月d日"}}</li>
                                </ul>
                                <a title="{{$e.Title}}" href="{{urlfor "Detail.Index" ":id" $e.Id}}" class="template-btn btn-layout-small">查看详情</a>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    <section class="team-area section--padding section-bg" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h5 class="section__meta">我们的团队</h5>
                        <h2 class="section__title padding-bottom-15px">建立自我，追求无我</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                {{range $i, $e := .team}}
                    <div class="col-lg-6">
                        <div class="team-item">
                            <div class="team-avatar">
                                <img src="{{$e.Avatar | fileBuyPath}}" alt="{{$e.Name}}">
                                <div class="team-social">
                                    <ul class="social-links">
                                        {{if $e.QQ }}<li><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{$e.QQ}}&site=qq&menu=yes"><i class="fa fa-qq"></i></a></li>{{end}}
                                        {{if $e.Weibo}}<li><a rel="nofollow" target="_blank" href="{{$e.Weibo}}"><i class="fa fa-weibo"></i></a></li>{{end}}
                                        {{if $e.Github}}<li><a rel="nofollow" target="_blank" href="{{$e.Github}}"><i class="fa fa-github"></i></a></li>{{end}}
                                        {{if $e.Blog}}<li><a rel="nofollow" target="_blank" href="{{$e.Blog}}"><i class="fa fa-rss-square"></i></a></li>{{end}}
                                    </ul>
                                </div>
                            </div>
                            <div class="team-detail">
                                <h3 class="team__title">{{$e.Name}}</h3>
                                <p class="team__meta">{{$e.Major}}</p>
                                <div class="section-block"></div>
                                <p class="team__meta pt-3">{{$e.Description}}</p>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    <div class="section-block"></div>
    <section class="blog-area section--padding" id="template">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h5 class="section__meta">精致的模板</h5>
                        <h2 class="section__title padding-bottom-15px line-height-55">每一套模板皆是精挑细选</h2>
                    </div>
                    <div class="section-divider"></div>
                </div>
            </div>
            <div class="row mt-5">
                {{range $i, $e := .Template}}
                    {{if lt $i 3 }}
                        <div class="col-lg-4 column-td-6">
                            <div class="card-item">
                                <div class="card-img-box">
                                    <img src="data:image/png;base64,{{$e.Cover}}" alt="{{$e.Title}}">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title">{{$e.Remark}}</h3>
                                </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </section>
    <section class="accordion-area section-bg section-padding" id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h5 class="section__meta">建议反馈</h5>
                        <h2 class="section__title padding-bottom-15px">你是否在使用中遇到任何问题?</h2>
                        <div class="section-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-7">
                    <div class="accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            {{range $i, $e := .message}}
                                <div class="card">
                                    <div class="card-header" id="heading_{{$e.Id}}">
                                        <h2>
                                            <button class="btn btn-link {{if gt $i 0}}collapsed{{end}}" type="button" data-toggle="collapse" data-target="#collapse_{{$e.Id}}" aria-expanded="true" aria-controls="collapse_{{$e.Id}}">{{$e.Title}}</button>
                                        </h2>
                                    </div>
                                    <div id="collapse_{{$e.Id}}" class="collapse {{if eq $i 0}}show{{end}}" aria-labelledby="heading_{{$e.Id}}" data-parent="#accordionExample">
                                        <div class="card-body pb-2">{{$e.Context}}</div>
                                        <div class="card-body" style="color: #3caaf7;">&nbsp;&nbsp;&nbsp;&nbsp;@你：{{$e.Reply}}</div>
                                    </div>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="user-form">
                        <div class="section-heading">
                            <h5 class="section__meta">联系我们</h5>
                            <h2 class="section__title font-size-20 font-weight-medium">提交您遇到的问题！我将尽快答复您的疑问。</h2>
                        </div>
                        <div class="contact-form-action mt-4">
                            <form method="POST" class="ajax_from" action="{{urlfor "Index.Message" }}">
                                <div class="input-box">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="name" placeholder="您的姓名？">
                                        <span class="la la-user input-icon"></span>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" placeholder="邮箱地址">
                                        <span class="la la-envelope-o input-icon"></span>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="title" placeholder="疑问标题">
                                        <span class="la la-book input-icon"></span>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <div class="form-group">
                                        <textarea class="message-control form-control" name="context" placeholder="详细问题描述"></textarea>
                                        <span class="la la-pencil input-icon"></span>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <div class="form-group text-center mb-0">
                                        <button class="template-btn border-0 w-100" type="submit">现在提交?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-block"></div>
    {{template "index/base/script.html" .}}
    <script src="/static/admin/plugins/sweet-alert/sweetalert.min.js?v={{$.versions}}"></script>
    <script src="/static/admin/scripting/application.js?v={{$.versions}}"></script>
    <script>$('.scrollbar').on('click', function() {const id = $(this).data("box");$('html,body').animate({scrollTop: $(id).offset().top + 'px'},1500);return false});</script>
</body>
</html>