<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{$.detail.Title}}</title>
	<meta name="keywords" content="{{$.detail.Keywords}}" />
	<meta name="description" content="{{$.detail.Description}}" />
	<link rel="stylesheet" href="/static/spider/template/saffron/common.css?v={{$.versions}}">
	<link rel="stylesheet" href="/static/spider/template/saffron/detail.css?v={{$.versions}}">
</head>
<body>
	{{template "spider/template/saffron/base/header.html" .}}
	<div class="bodybox wp">
		<div class="z leftbox">
			<div class="zindex">
				<a href="/" title="{{$.domain.name}}" class="re">首页</a>
				<span class="re">/</span>
				<a title="{{$.cateInfo.Name}}" href="{{urlfor "Lists.Index" ":id" $.cateInfo.Id ":page" 0}}">{{$.cateInfo.Name}}</a>
				<span class="re">/</span>
				<a href="{{urlfor "Contx.Index" ":id" $.detail.Id}}" title="{{$.detail.Title}}">{{$.detail.Title}}</a>
			</div>
			<div class="detail">
				<div class="subject">{{$.detail.Title}}</div>
				<div class="infos">
					<span class="label">作者：</span>
					<span class="author marginright20">管理员</span>
					<span class="label">发布时间：</span>
					<span class="time now marginright20">{{date $.detail.UpdateTime "Y-m-d"}}</span>
					<span class="label">分类：</span>
					<span class="caty marginright20"><a title="{{$.cateInfo.Name}}" href="{{urlfor "Lists.Index" ":id" $.cateInfo.Id ":page" 0}}">{{$.cateInfo.Name}}</a></span>
					<span class="label">浏览量：</span>
					<span class="caty marginright20">{{spiderArticleView $.detail.Oid}}</span>
				</div>
				<div class="content"><div id="newsContent">{{str2html $.detail.Context}}</div></div>
			</div>
		</div>
		<div class="y rightbox">
			{{template "spider/template/saffron/base/ranking.html" .}}
			{{template "spider/template/saffron/base/recom.html" .}}
		</div>
	</div>
	{{template "spider/template/saffron/base/footer.html" .}}
</body>
</html>