<!--top begin-->
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="/" title="{{$.domain.name}}">{{$.domain.name}}</a></div>
        <nav>
            <ul id="starlist">
                {{range $i, $e := .cate}}
                    {{if lt $i 9 }}<li><a title="{{$e.Name}}" href="{{urlfor "Lists.Index" ":id" $e.Id ":page" 0}}">{{$e.Name}}</a></li> {{end}}
                {{end}}
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<div class="searchbox"></div>
<!--top end-->