<div class="whitebg tuijian">
    <h2 class="htitle">热门推荐</h2>
    {{range $index, $item := spiderArticleLimit $.cids 1 "class IN " "RAND()" }}
        <section class="topnews imgscale">
            <a href="{{urlfor "Contx.Index" ":id" $item.Id}}" title="{{$item.Title}}">
                <img src="{{randomCover $.model.Id}}" alt="{{$item.Title}}"/>
                <span>{{$item.Title}}</span>
            </a>
        </section>
    {{end}}
    <ul>
        {{range $index, $item := spiderArticleLimit $.cids 20 "class IN " "RAND()" }}
            <li>
                <a href="{{urlfor "Contx.Index" ":id" $item.Id}}" title="{{$item.Title}}">
                    <i> <img src="{{randomCover $.model.Id}}" alt="{{$item.Title}}"/></i>
                    <p>{{$item.Title}}</p>
                </a>
            </li>
        {{end}}
    </ul>
</div>