<main id="main-container">
    {{template "admin/breadcrumb.html" .}}
    <div class="content p-3">
        <div class="alert alert-primary alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="mb-0 font-size-sm font-weight-normal">
                <strong><i class="fa fa-fw fa-info-circle"></i> 提示：</strong>栏目转换工具可以把 【站长工具】导出的关键词转化为系统分类；
            </p>
        </div>
    </div>
</main>