<main id="main-container">
    {{template "admin/breadcrumb.html" .}}
    <div class="content p-3">
        <div class="alert alert-primary alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="mb-0 font-size-sm font-weight-normal">
                <strong><i class="fa fa-fw fa-info-circle"></i> 提示：</strong>栏目转换工具可以把 【指定平台】导出的关键词提取为系统分类；可进行描述，关键词重组；
            </p>
        </div>

        <div class="row">
            <div class="col-sm-6 animated bounceInLeft">
                <div class="block mb-0 block-themed">
                    <div class="block-header">
                        <h3 class="block-title">站长工具 -> 系统栏目</h3>
                    </div>
                    <form action="{{urlfor "Adapter.Zhanzhang"}}" class="handleForm" method="post">
                        <div class="block-content">
                            <div class="form-group font-size-sm row mb-3 ml-0">
                                <label class="col-form-label font-weight-normal" for="length"></label>
                                <div class="col-sm-3 pl-0 input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i data-original-title="取词字数；根据行业决定;默认不限制" data-toggle="tooltip" class="js-tooltip fa fa-exclamation-circle"></i></span></div>
                                    <input class="form-control font-size-sm" id="length" type="text" name="length" value="0" style="height: 100%" placeholder="字数">
                                    <div class="input-group-prepend"><span class="input-group-text">个</span></div>
                                </div>
                                <label class="col-form-label font-weight-normal" for="extract"></label>
                                <div class="col-sm-3 pl-0 input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i data-original-title="包含提取可以提取包含某个字符的词组作为分类；多个 ｜ 分割" data-toggle="tooltip" class="js-tooltip fa fa-exclamation-circle"></i></span></div>
                                    <input class="form-control font-size-sm" id="extract" type="text" name="extract"  style="height: 100%" placeholder="包含">
                                </div>
                                <label class="col-form-label font-weight-normal" for="filtration"></label>
                                <div class="col-sm-3 pl-0 input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i data-original-title="过滤多个关键词请用 ｜ 分割" data-toggle="tooltip" class="js-tooltip fa fa-exclamation-circle"></i></span></div>
                                    <input class="form-control font-size-sm" id="filtration" type="text" name="filtration"  style="height: 100%" placeholder="过滤">
                                </div>
                                <label class="col-form-label font-weight-normal" for="form"></label>
                                <div class="col-sm-3 pl-0 input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i data-original-title="网速性能将影响[ 重组 ]的提取时长；可能达到30分钟左右；" data-toggle="tooltip" class="js-tooltip fa fa-exclamation-circle"></i></span></div>
                                    <select class="form-control font-size-sm" id="form" name="form" style="height: 100%">
                                        <option value="0">普通</option>
                                        <option value="1">重组</option>
                                    </select>
                                </div>
                            </div>
                            <div class="block" style="border: 4px dashed #ddd;">
                                <div class="block-content upload_custom block-content-full ribbon ribbon-primary ribbon-bookmark p-0"></div>
                                <input type="hidden" name="files" id="files" value="0">
                            </div>
                        </div>
                        <div class="form-group text-center badge-light mb-0 p-3">
                            <button type="submit" class="btn btn-alt-primary font-size-sm" data-toggle="click-ripple">确定转换</button>
                            <button type="button" class="btn btn-alt-success font-size-sm download" data-toggle="click-ripple" disabled><i class="fa fa-cloud-download-alt"></i> 下载结果</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 animated bounceInRight">
                <div class="block mb-0 block-themed" style="height: 100%">
                    <div class="block-header">
                        <h3 class="block-title">5118 -> 系统栏目</h3>
                    </div>
                    <div class="block-content">
                        <form action="javascript:void(0)" class="ajax_from" method="post">
                            <div class="form-group text-center badge-light mb-0 p-3" style="line-height: 252px;">
                                <button type="button" class="btn btn-primary disabled" data-toggle="click-ripple">敬请期待</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>