<div class="js-wizard-simple block block overflow-hidden">
    <div class="progress rounded-0" data-wizard="progress" style="height: 6px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <ul class="nav nav-tabs nav-tabs-alt nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link rounded-0 font-weight-normal active" href="#base" data-toggle="tab">基础</a>
        </li>
        <li class="nav-item">
            <a class="nav-link rounded-0 font-weight-normal" href="#extend" data-toggle="tab">扩展</a>
        </li>
    </ul>
    <form action="{{urlfor "Team.Create"}}" class="ajax_from" method="post">
        <div class="block-content block-content-full tab-content px-md-5 " style="margin-left: 6px;">
            <div class="fade fade-left tab-pane active show" id="base" role="tabpanel">
                <div class="form-group row font-size-sm mb-2">
                    <label class="col-form-label font-weight-normal pr-0 pl-2" for="name">人员姓名</label>
                    <div class="col-sm-4 mr-5">
                        <input class="form-control form-control-alt font-size-sm" id="name" type="text" name="name" placeholder="人员姓名"/>
                        <div class="help-block pt-1 pb-1 font-size-minimum">请填写您的姓名；<code>必填；</code></div>
                    </div>
                    <label class="col-form-label font-weight-normal" for="qq">您的号码</label>
                    <div class="col-sm-4">
                        <input class="form-control form-control-alt font-size-sm" id="qq" type="text" name="qq" placeholder="您的QQ"/>
                        <div class="help-block pt-1 pb-1 font-size-minimum">请填写您的QQ；<code>必填；</code></div>
                    </div>
                </div>
                <div class="form-group row font-size-sm mb-2">
                    <label class="col-form-label font-weight-normal pr-0 pl-2" for="blog">个人网站</label>
                    <div class="col-sm-4 mr-5">
                        <input class="form-control form-control-alt font-size-sm" id="blog" type="text" name="blog" placeholder="个人网站"/>
                        <div class="help-block pt-1 pb-1 font-size-minimum">您的个人网站地址；<code>选填；</code></div>
                    </div>
                    <label class="col-form-label font-weight-normal" for="major">您的专业</label>
                    <div class="col-sm-4">
                        <input class="form-control form-control-alt font-size-sm" id="major" type="text" name="major" placeholder="您的专业"/>
                        <div class="help-block pt-1 pb-1 font-size-minimum">请填写您的专业；<code>必填；</code></div>
                    </div>
                </div>
                <div class="form-group row font-size-sm mb-2">
                    <label class="col-form-label font-weight-normal pr-0 pl-2" style="line-height: 77px;" for="description">简短描述</label>
                    <div class="col-sm-10" style="flex: 0 0 87.5%;max-width: 87.5%;">
                        <textarea class="form-control form-control-alt font-size-sm" id="description" name="description" rows="3" placeholder="简短描述"></textarea>
                        <div class="help-block pt-1 pb-1 font-size-minimum">请填写您的个人描述；<code>必填；</code></div>
                    </div>
                </div>
            </div>
            <div class="fade fade-left tab-pane" id="extend" role="tabpanel">
                <div class="form-group row font-size-sm mb-2">
                    <label class="col-sm-2 col-form-label font-weight-normal" for="weibo">新浪微博</label>
                    <div class="col-sm-10" style="max-width:81%;flex: 0 0 81%;">
                        <input class="form-control form-control-alt font-size-sm" id="weibo" type="text" name="weibo" placeholder="新浪微博">
                        <div class="help-block pt-1 pb-1 font-size-minimum">新浪微博；<code>选填；</code></div>
                    </div>
                </div>
                <div class="form-group row font-size-sm mb-2">
                    <label class="col-sm-2 col-form-label font-weight-normal" for="github">Github &nbsp;</label>
                    <div class="col-sm-10" style="max-width:81%;flex: 0 0 81%;">
                        <input class="form-control form-control-alt font-size-sm" id="github" type="text" name="github" placeholder="Github地址">
                        <div class="help-block pt-1 pb-1 font-size-minimum">Github地址；<code>选填；</code></div>
                    </div>
                </div>
                <div class="form-group row font-size-sm mb-3">
                    <label class="upload_single_label col-sm-2 col-form-label font-weight-normal" for="avatar">您的头像</label>
                    <div class="ml-2 upload_single" data-name="image"></div>
                    <div class="upload_onLoad">{{/*默认加载*/}}</div>
                    <input type="hidden" name="avatar" id="avatar" value="0"/>
                </div>
            </div>
        </div>
        <div class="block-content block-content-sm block-content-full bg-body-light rounded-bottom fixed-bottom">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary btn-sm font-weight-normal" data-wizard="prev"><i class="fa fa-angle-left mr-1"></i> 上一步</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-secondary btn-sm font-weight-normal" data-wizard="next">下一步 <i class="fa fa-angle-right ml-1"></i></button>
                    <button type="submit" class="btn btn-primary btn-sm font-weight-normal d-none" data-wizard="finish"><i class="fa fa-check mr-1"></i> 提交</button>
                </div>
            </div>
        </div>
    </form>
</div>
