<main id="main-container">
    <div class="bg-white border-bottom">
        <div class="content content-boxed">
            <div class="row items-push text-center">
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">今日蜘蛛量</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">17980</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">全部蜘蛛量</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">27</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">Followers</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">1360</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase mb-2">739 Ratings</div>
                    <span class="text-warning">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half"></i>
                                </span>
                    <span class="font-size-sm text-muted">(4.9)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <ul class="timeline timeline-alt py-0">
                    <li class="timeline-event">
                        <div class="timeline-event-icon bg-modern">周</div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <canvas class="js-chart-dashboard-journal"></canvas>
                        </div>
                    </li>
                    <li class="timeline-event">
                        <div class="timeline-event-icon bg-primary">日</div>
                        <div class="timeline-event-block block invisible pl-3 pr-3 pt-3 pb-0" data-toggle="appear">
                            <div class="row">
                                {{range $i, $e := .class}}
                                    <div class="col-md-3 text-center mb-3">
                                        <div style="width: 100% !important;" class="btn btn-sm btn-alt-primary" data-toggle="click-ripple">
                                            <div class="font-size-base font-w400 ">+{{$e}}</div>
                                            <div class="font-size-sm font-w600">{{$i}}</div>
                                        </div>
                                    </div>
                                {{end}}
                           </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="timeline timeline-alt py-0">
                    <li class="timeline-event">
                        <div class="timeline-event-icon bg-default">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                <h3 class="block-title">Facebook</h3>
                                <div class="block-options">
                                    <div class="timeline-event-time block-options-item font-size-sm">
                                        just now
                                    </div>
                                </div>
                            </div>
                            <div class="block-content" style="height: 290px;">
                                <p class="font-w600 mb-2">
                                    + 290 Page Likes
                                </p>
                                <p>
                                    This is great, keep it up!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-event">
                        <div class="timeline-event-icon bg-modern">
                           日
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                <h3 class="block-title">Products</h3>
                                <div class="block-options">
                                    <div class="timeline-event-time block-options-item font-size-sm">4 hrs ago</div>
                                </div>
                            </div>
                            <div class="block-content block-content-full">
                                122
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>


