<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    {{str2html $.domain.headCode}}
    <title>{{$.domain.title}}</title>
    <meta name="keywords" content="{{$.domain.keywords}}" />
    <meta name="description" content="{{$.domain.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/spider/template/black/common.css?v={{$.versions}}" rel="stylesheet">
  </head>
  <body>
  {{template "spider/template/black/base/header.html" .}}
    <div class="box">
      {{range $i, $e := .cate}}
        <div class="newsbox f_l ">
          <div class="newstitle"><span><a title="{{$e.Name}}" href="{{urlfor "Lists.Index" ":id" $e.Id ":page" 0}}">+</a></span><b>{{$e.Name}}</b></div>
          <ul class="newsli">
            {{range $index, $item := spiderArticleLimit $e.Id 5 "class=" "RAND()" }}
              <li><a href="{{urlfor "Contx.Index" ":id" $item.Id}}" title="{{$item.Title}}">{{substr $item.Title 0 40}}</a></li>
            {{end}}
          </ul>
        </div>
      {{end}}
      <div class="blank"></div>
      {{range $i, $e := .cate}}
        {{if lt $i 3 }}
          {{range $index, $item := spiderArticleLimit $.cids 1 "class IN " "RAND()" }}
            <div class="sbox {{if  eq $i 0 }}f_l{{end}} {{if  eq $i 1 }}f_l ml{{end}} {{if  eq $i 2 }}f_r{{end}}"> <span>{{$e.Name}}</span>
              <h2>{{$item.Title}}</h2>
              <p>{{$item.Description}}</p>
              <a href="{{urlfor "Contx.Index" ":id" $item.Id}}" title="{{$item.Title}}" class="read">详情</a>
            </div>
          {{end}}
        {{end}}
      {{end}}
      <div class="blank"></div>
      <div class="blogs">
        {{range $index, $item := spiderArticleLimit $.cids 10 "class IN " "id DESC" }}
          <div class="bloglist">
            <h2><a href="{{urlfor "Contx.Index" ":id" $item.Id}}" title="{{$item.Title}}">{{$item.Title}}</a></h2>
            <p>{{$item.Description}}</p>
          </div>
        {{end}}
      </div>
      <aside>
        {{template "spider/template/black/base/category.html" .}}
        {{template "spider/template/black/base/ranking.html" .}}
        {{template "spider/template/black/base/recom.html" .}}
        {{template "spider/template/black/base/links.html" .}}
      </aside>
    </div>
    {{template "spider/template/black/base/footer.html" .}}
  </body>
</html>
